.wpwhosonline-row {
	float: none;
	width: auto;
	height: 33px;
}

.wpwhosonline-row > img {
	float: left;
	margin-right: 1ex;
}

.wpwhosonline-active > span {
	font-weight: bold;
	color: green;
}

.wpwhosonline-recent > span {
}

.wpwhosonline-ancient > span {
	font-style: italic;
	color: red;
}

/* kubrick style follows */
#sidebar ul li.widget_wpwhosonline ul li:before { content: none; }
